
# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,elixir,exercism,git
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,elixir,exercism,git

### Elixir ###
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

### Elixir Patch ###

### Exercism ###
# gitignore template for Exercism project
# website: https://exercism.io/

# Ignore .exercism folder which contain sensitive data
.exercism

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,elixir,exercism,git
